.main {
  background-image: url('../../../assets/images/fundo.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
}

h1 {
  font-family: 'Nanum';
  font-weight: 400;
  font-size: 7rem;
  color: #fff;
}

.bg-white {
  background: #fff;
  padding: 2rem;
  border-radius: 20px;
}

table {
  border-collapse: collapse;
}

.table {
  width: 100%;
  margin-bottom: 1rem;
  background-color: transparent;
  text-align: left;
  font-family: Roboto;
}

.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
}

.table td, .table th {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}

.xls{
  width: 100%;
  display: flex;
  justify-content: right;
  align-content: center;
  align-items: center;
  color: rgb(77, 77, 77);
  font-family: Roboto;
  cursor: pointer;
}

.tool{
  width: 100%;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.baixar {
  display: flex;
  flex-direction: column;
}

.paginacao {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  font-family: Roboto;
}
