<div class="main">
  <div class="container">
    <div class="row d-flex">
      <img class="img-fluid w-7" src="../../../assets/images/desafio 3.png" alt="Desafio 3">
    </div>
    <div class="row d-flex">
      <div class="card">
        <h4 class="text">Além do Alektos, qual é a outra opção de anti-histamínico da Mantecorp?</h4>
        <div class="botoes">
          <button class="btn btn-primary" [ngClass]="{'active': cor1}" id="btn1" value="Rizi (levocetirizina)" #ref1 (click)="clickHandler(ref1.id, ref1.value)" [disabled]="btn1Disable">Rizi (levocetirizina)</button>
          <button class="btn btn-primary" [ngClass]="{'active': cor2}" id="btn2" value="Rivo (rupatadina)" #ref2 (click)="clickHandler(ref2.id, ref2.value)" [disabled]="btn2Disable">Rivo (rupatadina)      </button>
          <button class="btn btn-primary" [ngClass]="{'active': cor3}" id="btn3" value="Rivo (rupatadina) " #ref3 (click)="clickHandler(ref3.id, ref3.value)" [disabled]="btn3Disable">Rivo (rupatadina) </button>
        </div>
      </div>
    </div>

    <div class="row d-flex">
      <div class="">
        <div class="d-flex-c">
            <img class="img-fluid ml-4" (click)="backPage()" src="../../../assets/images/antes.png" alt="">
            <img class="img-fluid" (click)="nextPage()" src="../../../assets/images/proximo.png" alt="">
        </div>
        <div class="">
          <img  class="img-fluid pl-img" src="../../../assets/images/tela2/alekwar.png" alt="play">
        </div>
      </div>
    </div>
  </div>
</div>

