<div class="main">
  <div class="container">
    <div class="row d-flex">
      <img class="img-fluid w-7" src="../../../assets/images/tela2/desafio 2.png" alt="Desafio 2">
    </div>
    <div class="row d-flex">
      <div class="card">
        <img class="img-fluid pbt-3" src="../../../assets/images/tela2/Qual a posologia de Alektos Ped_.png" alt="" >
        <div class="botoes">
          <button class="btn btn-primary" [ngClass]="{'active': cor1}" id="btn1" value="4ML 1X AO DIA" #ref1 (click)="clickHandler(ref1.id, ref1.value)" [disabled]="btn1Disable">4ML 1X AO DIA</button>
          <button class="btn btn-primary" [ngClass]="{'active': cor2}" id="btn2" value="5ML 2X AO DIA" #ref2 (click)="clickHandler(ref2.id, ref2.value)" [disabled]="btn2Disable">5ML 2X AO DIA</button>
          <button class="btn btn-primary" [ngClass]="{'active': cor3}" id="btn3" value="5ML 3X 1 4X POR DIA DEPENDER DO PESO E IDADE" #ref3 (click)="clickHandler(ref3.id, ref3.value)" [disabled]="btn3Disable">5ML 3X 1 4X POR DIA DEPENDER DO PESO E IDADE</button>
        </div>
      </div>
    </div>

    <div class="row d-flex">
      <div class="">
        <div class="d-flex-c">
            <img class="img-fluid ml-4" (click)="backPage()" src="../../../assets/images/antes.png" alt="">
            <img class="img-fluid" (click)="nextPage()" src="../../../assets/images/proximo.png" alt="">
        </div>
        <div class="">
          <img  class="img-fluid pl-img" src="../../../assets/images/tela2/alekwar.png" alt="play">
        </div>
      </div>
    </div>
  </div>
</div>

