.main {
  background-image: url(https://rafaaquino.github.io/joguinho-SPA/assets/images/bg.png);
}

.btn-play {
  height: 75px;
  width: 75px;
  border-radius: 50%;
  border: 0;
  background-color: #FAFF00;
}

.pr{
  position: relative;
    left: -7px;
}
