<div class="main">
  <div class="container">
    <div class="row d-flex">
      <img class="img-fluid" width="300" src="../../../assets/images/mantecorp.png" alt="Desafio Alekito">
    </div>
    <div class="row d-flex">
      <form autocomplete="off" [formGroup]="registrationForm"  (ngSubmit)="submitFormLogin()" (ngReset)="resetForm()">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="UF:" formControlName="uf" name="uf" maxlength="2">
            <ng-container *ngIf="registrationForm.controls.uf.touched">
              <span class="validacao"  *ngIf="f.uf.errors?.required">
                  Campo obrigatório
              </span>
            </ng-container>
        </div>
        <div class="form-group">
          <input type="text" class="form-control" placeholder="CRM:" formControlName="crm" name="crm">
            <ng-container *ngIf="registrationForm.controls.crm.touched">
              <span class="validacao"  *ngIf="f.crm.errors?.required">
                  Campo obrigatório
              </span>
            </ng-container>
        </div>
        <div class="row d-flex">
          <button type="submit" class="btn-play">
            <img class="pr" src="https://rafaaquino.github.io/joguinho-SPA/assets/images/play.png" alt="play">
          </button>
        </div>
      </form>
    </div>

    <div class="row d-flex">
      <img  class="img-fluid imgAlekito" src="../../../assets/images/tela1/alek.png" alt="play">
    </div>
  </div>
</div>
