<div class="main">
  <div class="container">
    <div class="row d-flex">
      <img class="img-fluid w-7 mt-4" src="https://rafaaquino.github.io/joguinho-SPA/assets/images/Obrigado.png" alt="Desafio Alekito">
    </div>
    <div class="row d-flex">
    </div>

    <div class="row d-flex">
      <img  class="img-fluid" src="https://rafaaquino.github.io/joguinho-SPA/assets/images/ursinho.png" alt="play">
    </div>

    <div class="row d-flex">
      <img (click)="goToHome()"  class="img-fluid" src="https://rafaaquino.github.io/joguinho-SPA/assets/images/tela1/home.png" alt="play">
    </div>
  </div>
</div>

